.historia{
    background-color: white;
}

.historia-container{
    max-width: 96rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 530px;
    overflow: hidden;
}

.historia-info{
    width: 50%;
}

.historia-info p{
     text-align: center;
     margin: 0;
     font-size: 20px;
     line-height: 35px;
     padding: 15px;
}

.historia-info h2{
     text-align: center;
     margin: 25px 0;
     font-size: 30px;
}

.historia-imagen {
    width: 50%;
}

.historia-imagen img{
    width: 100%;
}