footer{
    background-color: rgb(29, 28, 28);
}

.footer-container{
    max-width: 96rem;
    margin: 0 auto;
    padding: 15px;
}



.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}



.aviso-privacidad{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aviso-privacidad p{
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    transition: all 0.5s ease;

}

.aviso-privacidad p:hover{
    border: 1px solid  #F4A020;
    color: #F4A020;
    transform: scale(1.1);
    cursor: pointer;
}

.enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

 .enlace{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
 }

 .enlace:hover{
    color: #F4A020;
    transform: scale(1.1);
 }

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales a{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    color: white;
    transition: all 0.5s ease;
}

.redes-sociales a:hover{
    border: 1px solid  #F4A020;
    color: #F4A020;
    transform: scale(1.1);
}

.redes-sociales a svg{
    width: 30px;
    height: auto;
}

.footer-derechos{
    text-align: center;
    color: rgb(167, 167, 167);
}