.banner-container{
    max-width: 96rem;
    overflow: hidden;
     margin:  0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.banner-container img{
    width: 100%;
    height: auto;
    position: absolute;
    transition: all ease;
}


.texto-inicio{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    margin: 0 auto;
}

.texto-inicio h3{
    color: white;
     font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

.texto-inicio hr{
     width: 20%;
     border: 1px solid white;
}

.texto-inicio button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 758px){
    .texto-inicio h3{
         
        font-size: 30px;
         
         
    }

    .texto-inicio button{
         
        padding: 10px 15px;
         
    }
}